[Desktop Entry]
Name=cryptochecker
Comment=A simple App to quickly check information about your crypto assets (binance account only)
Exec=cryptochecker
Icon=${SNAP}/meta/gui/cryptochecker.png # replace name to your app name
Terminal=false
Type=Application
Categories=Education; #adjust accordingly your snap category
