[Desktop Entry]
Name=cryptochecker
Comment=A simple App to quickly check information about your crypto assets (binance account only)
Exec=cryptochecker
Icon=${SNAP}/meta/gui/icon.png
Terminal=false
Type=Application
Categories=Finance;
